{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Welcome to my blog, I'm Arnaud, a French born living in Newbury (West Berkshire, United Kingdom).</p>
        <p>After 15 years working in IT support, I decided to re-consider my life and go back to what I wanted to do as a child, so I decided to became a Developer !</p>
        <p>I graduated from a Full-Stack developer path at the prestigious Open Classrooms online school, learning HTML, CSS, Javascript, React, Ruby, Rails, Python, Flask, Git... And everything I need to start a new career.</p>
        <p>I'm now open to job offers while still trying to improve my skills as you can see if you check my <a href="https://github.com/krallnyx">Github account</a>.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}